In [294]:
import pandas as pd
import numpy as np
import statistics

from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

for readME
-pip install basemap

In [295]:
# ORIGINAL
#TeslaJan = pd.read_csv("TeslaFi12023 (Jan sorted).csv")
#TeslaJan

In [296]:
#ORIGINAL
# TeslaFeb = pd.read_csv("TeslaFi22023 (Feb sorted).csv")
# TeslaFeb

In [297]:
# OG_df1 = TeslaJan[TeslaJan["state"] == "online"]
# OG_df1

In [298]:
# OG_df2 = TeslaFeb[TeslaFeb["state"] == "online"]
# OG_df2

In [299]:
# OG_merged_df = pd.concat([df1, df2])
# OG_merged_df

In [300]:
#ORIGINAL
# merged_df['inside_tempF'] = pd.to_numeric(merged_df['inside_tempF'], errors='coerce')
# mean_inside_tempF = merged_df['inside_tempF'].mean()
# mean_inside_tempF

In [301]:
#ORIGINAL
# merged_df['outside_tempF'] = pd.to_numeric(merged_df['outside_tempF'], errors='coerce')
# mean_outside_tempF = merged_df['outside_tempF'].mean()
# mean_outside_tempF

In [302]:
TeslaMap = pd.read_csv(("TeslaFi12023.csv"), low_memory=False)
#TeslaMap[TeslaMap["state"] == "online"]
TeslaMap

,data_id,Date,calendar_enabled,remote_start_enabled,vehicle_id,display_name,color,backseat_token,notifications_enabled,vin,...,max_avail_temp,is_climate_on,right_temp_direction,min_avail_temp,rear_seat_type,power,steering_wheel_heater,wiper_blade_heater,side_mirror_heaters,elevation
0,935094,2023-01-01 00:00:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,935095,2023-01-01 00:01:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,935096,2023-01-01 00:02:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,935097,2023-01-01 00:03:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,935098,2023-01-01 00:04:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45811,980905,2023-01-31 23:55:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45812,980906,2023-01-31 23:56:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45813,980907,2023-01-31 23:57:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45814,980908,2023-01-31 23:58:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45815,980909,2023-01-31 23:59:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [340]:
empty_cols = [col for col in TeslaMap.columns if TeslaMap[col].isnull().all()]
TeslaMap.drop(empty_cols, axis=1, inplace=True)
#nan_cols = [col for col in TeslaMap.columns if TeslaMap[col].isnull().any()]
#TeslaMap.drop(nan_cols, axis=1, inplace=True)
#TeslaMap_clean = TeslaMap.dropna(axis=1, how="all")
TeslaMap_clean = TeslaMap.drop(columns=["calendar_enabled", "vehicle_id", "display_name", "backseat_token", "vin", "backseat_token_updated_at", "id", "tokens", "id_s", "user_charge_enable_request", "time_to_full_charge", "charge_current_request", "charge_enable_request", "charger_phases", "battery_heater_on", "battery_range", "charger_power", "charge_limit_soc", "charger_pilot_current", "charge_port_latch", "charger_actual_current",	"scheduled_charging_pending", "fast_charger_type", "usable_battery_level", "motorized_charge_port", "charge_limit_soc_std", "battery_level", "charge_energy_added", "charge_port_door_open", "max_range_charge_counter", "charge_limit_soc_max", "ideal_battery_range", "max_avail_temp", "is_climate_on", "right_temp_direction", "min_avail_temp", "rear_seat_type", "power", "steering_wheel_heater", "wiper_blade_heater", "side_mirror_heaters", "elevation", "managed_charging_active", "charging_state", "fast_charger_present", "trip_charging", "managed_charging_user_canceled", "est_battery_range", "charge_rate", "charger_voltage", "charge_current_request_max", "eu_vehicle", "charge_miles_added_ideal", "charge_limit_soc_min", "gps_as_of", "heading", "shift_state", "seat_heater_rear_right", "seat_heater_left", "idleNumber", "sleepNumber",	"driveNumber", "chargeNumber", "polling", "idleTime", "running", "rerunning", "driver_temp_setting", "locked", "center_display_state", "dark_rims", "odometerF", "car_version", "wheel_type", "car_type", "dr", "vehicle_name", "exterior_color", "left_temp_direction", "notifications_supported", "autopark_state", "df", "api_version", "third_row_seats", "pf", "calendar_supported", "rt", "pr", "has_spoiler", "roof_color", "valet_mode", "parsed_calendar_supported", "spoiler_type", "ft", "homelink_nearby", "remote_start_supported", "rhd", "is_front_defroster_on", "seat_heater_rear_left", "is_rear_defroster_on", "inside_temp", "outside_temp", "remote_start", "rear_seat_heaters", "seat_heater_rear_center", "seat_heater_right"
])
#"data_id", 

TeslaMap_clean
#TeslaMap_clean[TeslaMap["state"] == "online"]

,data_id,Date,state,charge_miles_added_rated,longitude,latitude,speed,passenger_temp_setting,is_auto_conditioning_on,fan_status,odometer,inside_tempF,driver_temp_settingF,outside_tempF,maxRange
0,935094,2023-01-01 00:00:28,offline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
1,935095,2023-01-01 00:01:28,offline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
2,935096,2023-01-01 00:02:28,offline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
3,935097,2023-01-01 00:03:28,offline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
4,935098,2023-01-01 00:04:30,offline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45811,980905,2023-01-31 23:55:24,asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
45812,980906,2023-01-31 23:56:23,asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
45813,980907,2023-01-31 23:57:25,asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
45814,980908,2023-01-31 23:58:24,asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31
45815,980909,2023-01-31 23:59:24,asleep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.31

In [341]:
TeslaMap_clean[TeslaMap_clean["state"] == "online"]

,data_id,Date,state,charge_miles_added_rated,longitude,latitude,speed,passenger_temp_setting,is_auto_conditioning_on,fan_status,odometer,inside_tempF,driver_temp_settingF,outside_tempF,maxRange
898,935992,2023-01-01 14:58:30,online,10.0,-83.493246,38.185370,1.0,19.4,1.0,2.0,49682.768133,57.0,69.0,54.0,228.31
899,935993,2023-01-01 14:58:52,online,10.0,-83.493188,38.185372,0.0,19.4,1.0,3.0,49682.773725,58.0,69.0,54.0,228.31
900,935994,2023-01-01 14:59:29,online,10.0,-83.493188,38.185372,NaN,19.4,1.0,3.0,49682.773725,60.0,69.0,53.0,228.31
901,935995,2023-01-01 15:00:31,online,10.0,-83.493188,38.185372,NaN,19.4,0.0,0.0,49682.773725,62.0,69.0,53.0,228.31
902,935996,2023-01-01 15:01:37,online,10.0,-83.493188,38.185372,NaN,19.4,1.0,1.0,49682.773725,63.0,69.0,53.0,228.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45752,980846,2023-01-31 22:56:25,online,18.0,-83.493203,38.185319,NaN,20.6,0.0,0.0,50427.253499,48.0,69.0,41.0,228.31
45753,980847,2023-01-31 22:57:25,online,17.5,-83.493203,38.185319,NaN,20.6,0.0,0.0,50427.253499,48.0,69.0,41.0,228.31
45754,980848,2023-01-31 22:58:26,online,17.5,-83.493203,38.185319,NaN,20.6,0.0,0.0,50427.253499,48.0,69.0,43.0,228.31
45755,980849,2023-01-31 22:59:28,online,17.5,-83.493203,38.185319,NaN,20.6,0.0,0.0,50427.253499,48.0,69.0,43.0,228.31
45756,980850,2023-01-31 23:00:25,online,17.5,-83.493203,38.185319,NaN,20.6,0.0,0.0,50427.253499,47.0,69.0,44.0,228.31

In [337]:
unique_values = TeslaMap_clean['rear_seat_heaters'].unique()
unique_values

array([nan,  1.])

In [336]:
np.mean(TeslaMap_clean.speed)

36.55688870500621

In [ ]:
#clean_Tesla = TeslaMap.dropna()
#TeslaMap.dropna()
#nan_cols = [col for col in TeslaMap.columns if TeslaMap[col].isnull().any()]
#TeslaMap.dropna(subset=nan_cols, inplace=True)
#TeslaMap

In [ ]:
fig = plt.figure(figsize=(12,9))

m = Basemap(projection='mill',
           llcrnrlat = 25,
           urcrnrlat = 50,
           llcrnrlon = -130,
           urcrnrlon = -60,
           resolution = 'c')
m.bluemarble(scale=0.5)

m.drawcoastlines()

m.drawparallels(np.arange(-90,90,5),labels=[True,False,False,False])
m.drawmeridians(np.arange(-180,180,5),labels=[0,0,0,1])

sites_lat_y = TeslaMap['latitude'].tolist()
sites_lon_x = TeslaMap['longitude'].tolist()

m.scatter(sites_lon_x,sites_lat_y,latlon=True, s=50, marker='^', c='yellow', alpha=1, edgecolor='k', linewidth=1, zorder=0)

plt.title('Tesla Drives (Jan and Feb 2023)', fontsize=20)

plt.show()

In [ ]:
fig = plt.figure(figsize=(12,9))

m = Basemap(projection='mill',
           llcrnrlat = 37.99,
           urcrnrlat = 38.25,
           llcrnrlon = -84.55,
           urcrnrlon = -83.4,
           resolution = 'c')
m.bluemarble(scale=0.5)
#m.etopo(scale=0.5, alpha=0.5)

m.drawcoastlines()

m.drawparallels(np.arange(-90,90,.25),labels=[1,1,0,0])
m.drawmeridians(np.arange(-180,180,.25),labels=[0,0,0,1])

sites_lat_y = TeslaMap['latitude'].tolist()
sites_lon_x = TeslaMap['longitude'].tolist()

#colors = ['green', 'darkblue', 'yellow', 'red', 'blue', 'orange']

m.scatter(sites_lon_x,sites_lat_y,latlon=True, s=50, marker='o', alpha=1, edgecolor='k', linewidth=1, zorder=2)
#m.scatter(sotes_lat_y=True, s=5000, c='blue', marker='^', alpha=1, edgecolor='k', linewidth=1, zorder=1)

x, y = m(-83.51, 38.2)
plt.plot(x, y, 'o', markersize=5, color='white')
plt.text(x, y, ' Morehead', fontsize=12, color='white');

x, y = m(-84.5, 38.05)
plt.plot(x, y, 'o', markersize=5, color='white')
plt.text(x, y, ' Lexington', fontsize=12, color='white');

plt.title('Zoomed in Route', fontsize=20)

plt.show()

In [ ]:
#merged_df.plot(x="outside_tempF", y="Date", kind="scatter", xlabel="Outside Temperature (F)")