In [145]:
import pandas as pd
import numpy as np
import statistics

In [146]:
#Tesla = pd.read_csv("TeslaFi92022 (updates for project).csv", low_memory=False)
TeslaJan = pd.read_csv("TeslaFi12023 (Jan sorted).csv")
#df1 = pd.DataFrame(TeslaJan)
TeslaJan

,data_id,Date,state,inside_tempF,driver_temp_settingF,outside_tempF
0,935094,1/1/2023 0:00,offline,NaN,NaN,NaN
1,935095,1/1/2023 0:01,offline,NaN,NaN,NaN
2,935096,1/1/2023 0:02,offline,NaN,NaN,NaN
3,935097,1/1/2023 0:03,offline,NaN,NaN,NaN
4,935098,1/1/2023 0:04,offline,NaN,NaN,NaN
...,...,...,...,...,...,...
45811,980905,1/31/2023 23:55,asleep,NaN,NaN,NaN
45812,980906,1/31/2023 23:56,asleep,NaN,NaN,NaN
45813,980907,1/31/2023 23:57,asleep,NaN,NaN,NaN
45814,980908,1/31/2023 23:58,asleep,NaN,NaN,NaN
45815,980909,1/31/2023 23:59,asleep,NaN,NaN,NaN

In [147]:
#Tesla = pd.read_csv("TeslaFi92022 (updates for project).csv", low_memory=False)
TeslaFeb = pd.read_csv("TeslaFi22023 (Feb sorted).csv")
#df2 = pd.DataFrame(TeslaFeb)

In [148]:
df1 = TeslaJan[TeslaJan["state"] == "online"]
df1
#WORKS^^

,data_id,Date,state,inside_tempF,driver_temp_settingF,outside_tempF
898,935992,1/1/2023 14:58,online,57.0,69.0,54.0
899,935993,1/1/2023 14:58,online,58.0,69.0,54.0
900,935994,1/1/2023 14:59,online,60.0,69.0,53.0
901,935995,1/1/2023 15:00,online,62.0,69.0,53.0
902,935996,1/1/2023 15:01,online,63.0,69.0,53.0
...,...,...,...,...,...,...
45752,980846,1/31/2023 22:56,online,48.0,69.0,41.0
45753,980847,1/31/2023 22:57,online,48.0,69.0,41.0
45754,980848,1/31/2023 22:58,online,48.0,69.0,43.0
45755,980849,1/31/2023 22:59,online,48.0,69.0,43.0
45756,980850,1/31/2023 23:00,online,47.0,69.0,44.0

In [149]:
df2 = TeslaFeb[TeslaFeb["state"] == "online"]
df2

,data_id,Date,state,inside_tempF,driver_temp_settingF,outside_tempF
274,981184,2/1/2023 4:34,online,48,69,46
275,981185,2/1/2023 4:35,online,49,69,46
276,981186,2/1/2023 4:36,online,49,69,46
277,981187,2/1/2023 4:37,online,49,69,46
278,981188,2/1/2023 4:38,online,48,69,46
...,...,...,...,...,...,...
43003,1023913,2/28/2023 23:55,online,68,69,67
43004,1023914,2/28/2023 23:56,online,68,69,66
43005,1023915,2/28/2023 23:57,online,68,69,66
43006,1023916,2/28/2023 23:58,online,68,69,66
43007,1023917,2/28/2023 23:59,online,68,69,66

In [150]:
merged_df = pd.concat([df1, df2])
merged_df

,data_id,Date,state,inside_tempF,driver_temp_settingF,outside_tempF
898,935992,1/1/2023 14:58,online,57.0,69.0,54.0
899,935993,1/1/2023 14:58,online,58.0,69.0,54.0
900,935994,1/1/2023 14:59,online,60.0,69.0,53.0
901,935995,1/1/2023 15:00,online,62.0,69.0,53.0
902,935996,1/1/2023 15:01,online,63.0,69.0,53.0
...,...,...,...,...,...,...
43003,1023913,2/28/2023 23:55,online,68,69,67
43004,1023914,2/28/2023 23:56,online,68,69,66
43005,1023915,2/28/2023 23:57,online,68,69,66
43006,1023916,2/28/2023 23:58,online,68,69,66
43007,1023917,2/28/2023 23:59,online,68,69,66

In [151]:
merged_df['inside_tempF'] = pd.to_numeric(merged_df['inside_tempF'], errors='coerce')
mean_inside_tempF = merged_df['inside_tempF'].mean()
mean_inside_tempF

63.008082121789215

In [152]:
merged_df['outside_tempF'] = pd.to_numeric(merged_df['outside_tempF'], errors='coerce')
mean_outside_tempF = merged_df['outside_tempF'].mean()
mean_outside_tempF

51.114827201783726